.users_container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}
.left_side {
    width: 40%;
    height: auto;
    position: relative;
  }
  .circle_zaheer {
    width: 700px;
    height: 700px;
    border-radius: 50%;
    position: absolute;
    top: -50%;
    left: -57%;   
    background-color: #E4E8E9;
    z-index: 4;
}
.group{
     position: relative;
    z-index: 111;
    height: 30vh;
    top: 20%;
    left: 30%;
}  
.right_side{
    width: 60%;
    height: auto;
}
.users {
  margin-top: 7%;
  width: 50vw;
  z-index: 1111;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  margin: auto;
}

.user_heading{
    margin-block: 30px;
    color:#2F82A0;;
    text-align: center;
    font-size: 30px;
}
.input-box {
    display: flex;
    align-items: center;
    background-color: white;
    gap: 8px;
    position: relative;
    right: 30px;
    border-radius: 20px;
    padding: 20px;
    width: 150%;
    max-width: 400px; 
    box-sizing: border-box; 
}

.my-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.btn3 {
    margin-top: 10px;
}

.input{
    background-color: transparent;
  width: 100% !important;
  border: none;
  outline: none;
}
@media screen and (max-width:1108px) {
    .users_container{
      width: 100%;
      min-height: 100vh;
      display: flex;
      flex-direction: row;
      margin: auto !important;
    }
     .group{
       top: 15%;
     }
    .left-side {
      width: 50%;
      height: auto;
      position: relative;
    }
    
    .users {
      width: 90vw; /* Adjust width for smaller screens */
      margin-top: 5%;
  }
   
    .right-side {
      width: 50%;
      height: auto;
      margin: auto;
      margin-top: 0px;
    }
   
    .users_form{
      display: block;
      width: 50%;
      position: relative;
      gap: 20px;
    }
    
    .input_box{
      display: flex;  
      align-items: center;
      background-color: white;
      gap: 8px;
      border-radius: 15px;
      padding-right: 10px;
      margin-bottom: 12px;
    }
  
  
  }
  @media (max-width: 857px) {
    .users_container{
      flex-direction: column;
      align-items: center;
    }
  
    .left_side, .right_side {
      width: 100%;
  
    }
    .group{
      margin-top: 50%;
    }
    .right_side{
      margin-top: 100%;
      margin-right: 50px;
    }
  
    .circle_zaheer {
      width: 200%;
      min-height: 100vh;
      display: flex;
      flex-direction: row;
    }
  .image_style{
    position: absolute;
    left: 25%;
  }
    .users{
      width: 90vw;
      margin-top: 5%;
    }
  
    .users_form {
      grid-template-columns: 1fr;
      gap: 10px;
    }
  
    .input-box {
      padding-right: 5px;
    }
  
    .marriage_heading {
      font-size: 24px;
    }
  }