.Logincontainer_1 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  transition: transform 0.5s ease-in-out; 
}

.Logincontainer_1.user-mode{
  transform: translateX(100%);
}

.Logincontainer_1.marriage-mode {
  transform: translateX(200%); 
}
.lefts-side {
  width: 40%;
  height: auto;
  position: relative;
}

.options {
  position: relative;
  top: 20%;
  left: 35%;
  z-index: 6; 
}

input[type="radio"] {
  margin: 5px;
  border: 2px solid deeppink; 
  border-radius: 50%;
  width: 20px; 
  height: 20px;
  appearance: none; 
  outline: none; 
  vertical-align: middle; 
}

input[type="radio"]:checked {
  background-color: deeppink; 
  border: 2px solid deeppink; 
}

label {
  display: inline-flex;
  align-items: center; 
  margin-left: 10px; 
  font-size: 16px;
}

.rights-side {
  width: 60%;
  height: auto;
}

.circles_zaheers {
  width: 900px;
  height: 900px;
  border-radius: 50%;
  position: absolute;
  top: -50%;
  left: -57%;   
  background-color: #D9D9D982;
  z-index: 4;
  transition: transform 0.5s ease-in-out; 
}

.image_style {
  width: auto;
  height: 100px;
  padding: 20px 0px 0px 30px;
  position: absolute;
  left: 0px;
  z-index: 5;
}

.first-image {
  width: 300px;
  height: 490px;
  position: absolute;
  z-index: 111;
  top: 250px;
  left: 40px;
}

.Login {
  margin-top: 7%;
  width: 50vw;
  z-index: 1111;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  margin: auto;
}

.Login_heading {
  margin-block: 30px;
  color: #2F82A0;
  text-align: center;
  font-size: 30px;
}

.nxt {
  width: 150px;
  height: 40px;
  border-radius: 40px;
  background-color: #2F82A0;
  position: relative;
  left: 30px;
  top: 5px;
  color: #fff;
}
.btn {
  width: 150px;
  background-color: #de2c7e;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  background-color: #be2d71;
}
